<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baseball.service.channel.ChannelDao">
	
	
	<resultMap id="channelSelectMap" type="channel">
		<result property="channelID" column="channel_id" jdbcType="VARCHAR"/>
		<result property="channelName" column="channel_Name" jdbcType="VARCHAR"/>
		<result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
		<result property="channelCDN" column="channel_cdn" jdbcType="VARCHAR"/>
		<result property="uploadPath" column="upload_path" jdbcType="VARCHAR"/>
		<result property="envType"	 column="env_type" jdbcType="VARCHAR"/>
		<result property="thumbNail" column="thumbnail" jdbcType="VARCHAR"/>
		<result property="homeClick" column="home_click" jdbcType="INTEGER"/>
		<result property="awayClick" column="away_click" jdbcType="INTEGER"/>
		<result property="streamKey" column="stream_key" jdbcType="VARCHAR"/>
		<result property="streamURL" column="stream_url" jdbcType="VARCHAR"/>
		<association property="gameInfo" column="game_code" javaType="game" select="selectGame"/>
	</resultMap>
	
	<resultMap id="gameSelectMap" type="game">
		<result property="gameCode" column="GAME_CODE" jdbcType="VARCHAR"/>
		<result property="gameYear" column="GAME_YEAR" jdbcType="VARCHAR"/>
		<result property="gameDate" column="GAME_DATE" jdbcType="DATE"/>
		<result property="gameTime" column="GAME_TIME" jdbcType="TIME"/>
		<result property="gameStatusCode" column="GAME_STATUS_CODE" jdbcType="CHAR"/>
		<result property="gameScore" column="GAME_SCORE" jdbcType="VARCHAR"/>
		<result property="winningTeamAllocation" column="WINNING_TEAM_ALLOCATION" jdbcType="DOUBLE"/>
		<result property="videoName" column="VIDEO_NAME" jdbcType="VARCHAR"/>
		<result property="videoLink" column="VIDOE_LINK" jdbcType="VARCHAR"/>
		<result property="videoThumbNail" column="VIDEO_THUMBNAIL" jdbcType="VARCHAR"/>
		<association property="homeTeam" column="HOME_TEAM_CODE" javaType="team" select="getTeamInfo"/>
		<association property="awayTeam" column="AWAY_TEAM_CODE" javaType="team" select="getTeamInfo"/>
		<association property="winningTeamCode" column="WINNING_TEAM_CODE" javaType="team"/>
	</resultMap>
	
	<resultMap id="teamSelectMap" type="team">
		<result property="teamCode" column="TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="teamNickName" column="TEAM_NICKNAME" jdbcType="VARCHAR"/>
		<result property="teamEmblem" column="TEAM_EMBLEM" jdbcType="VARCHAR"/>
		<result property="stadiumName" column="STADIUM_NAME" jdbcType="VARCHAR"/>
		<result property="stadiumImageFile" column="STADIUM_IMAGE_FILE" jdbcType="VARCHAR"/>
		<result property="hometown" column="HOMETOWN" jdbcType="VARCHAR"/>
		<result property="stadiumLat" column="STADIUM_LAT_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumLng" column="STADIUM_LNG_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumAddress" column="STADIUM_ADDRESS" jdbcType="VARCHAR"/>
		<result property="teamFullName" column="TEAM_FULL_NAME" jdbcType="VARCHAR"/>
		<result property="teamHomepage" column="TEAM_HOMEPAGE" jdbcType="VARCHAR"/>
		<result property="teamIntroduce" column="TEAM_INTRODUCE" jdbcType="VARCHAR"/>
		<result property="teamTopBar" column="TEAM_TOPBAR" jdbcType="VARCHAR"/>
		<result property="teamColor" column="TEAM_COLOR" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- game Assosiation Select -->
	<select id="selectGame" resultMap="gameSelectMap">
		SELECT * FROM game Where game_code = #{value}
	</select>
	
	<select id="getTeamInfo" parameterType="string" resultMap="teamSelectMap">
		select 
		*, cast(stadium_lat AS char(20)) STADIUM_LAT_TOCHAR, cast(stadium_lng AS char(20)) STADIUM_LNG_TOCHAR
		from team
		<where>
			team_code=#{value}
		</where>
	</select>

	<!--SQL : Insert  -->
	<insert id="addChannel" parameterType="channel">
		INSERT 
		INTO channel (channel_id, game_code, channel_name, bucket_name, channel_cdn, env_type, thumbnail, upload_path, home_click, away_click, stream_key, stream_url)
		values (#{channelID:VARCHAR}, #{gameInfo.gameCode}, #{channelName:VARCHAR}, #{bucketName:VARCHAR}, #{channelCDN:VARCHAR}, #{envType:VARCHAR}, #{thumbNail:VARCHAR}, #{uploadPath:VARCHAR}, #{homeClick:INTEGER}, #{awayClick:INTEGER}, #{streamKey}, #{streamURL});
	</insert>
	
	<!-- SQL : select -->
	<select id="getChannel" parameterType="string" resultMap="channelSelectMap">
		SELECT * FROM channel WHERE channel_id = #{value}
	</select>
	
	<!-- SQL : select -->
	<select id="getChannelGameCode" parameterType="string" resultMap="channelSelectMap">
		SELECT * FROM channel WHERE game_code = #{value}
	</select>
	
	<!--  SQL : Select List -->
	<select id="getChannelList"	resultMap="channelSelectMap">
		SELECT * FROM channel
	</select>
	
	<!--  SQL : update -->
	<update id="updateChannel"	parameterType="Channel">
		UPDATE channel
		<set>
			channel_name = #{channelName},
			bucket_name = #{bucketName},
			channel_CDN = #{channelCDN},
			env_type = #{envType},
			thumbnail = #{thumbNail},
			game_code = #{gameInfo.gameCode}
		</set>
		WHERE channel_id = #{channelID}
	</update>
	
	<update id="updateChannelGameCode" parameterType="channel">
		UPDATE channel
		<set>
			game_code = #{gameInfo.gameCode},
			home_click= 0,
			away_click= 0
		</set>
		WHERE channel_id = #{channelID}
	</update>
	
	<!-- SQL : delete -->
	<delete id="deleteChannel" parameterType="string">
		DELETE FROM channel WHERE channel_id = #{value}
	</delete>
</mapper>