<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.baseball.service.game.GameDao">

	<resultMap id="teamSelectMap" type="team">
		<result property="teamCode" column="TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="teamNickName" column="TEAM_NICKNAME" jdbcType="VARCHAR"/>
		<result property="teamEmblem" column="TEAM_EMBLEM" jdbcType="VARCHAR"/>
		<result property="stadiumName" column="STADIUM_NAME" jdbcType="VARCHAR"/>
		<result property="stadiumImageFile" column="STADIUM_IMAGE_FILE" jdbcType="VARCHAR"/>
		<result property="hometown" column="HOMETOWN" jdbcType="VARCHAR"/>
		<result property="stadiumLat" column="STADIUM_LAT_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumLng" column="STADIUM_LNG_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumAddress" column="STADIUM_ADDRESS" jdbcType="VARCHAR"/>
		<result property="teamFullName" column="TEAM_FULL_NAME" jdbcType="VARCHAR"/>
		<result property="teamHomepage" column="TEAM_HOMEPAGE" jdbcType="VARCHAR"/>
		<result property="teamIntroduce" column="TEAM_INTRODUCE" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="gameSelectMap" type="game">
		<result property="gameCode" column="GAME_CODE" jdbcType="VARCHAR"/>
		<result property="gameDate" column="GAME_DATE" jdbcType="DATE"/>
		<result property="gameTime" column="GAME_TIME" jdbcType="TIME"/>
		<result property="gameStatusCode" column="GAME_STATUS_CODE" jdbcType="CHAR"/>
		<result property="gameScore" column="GAME_SCORE" jdbcType="VARCHAR"/>
		<result property="winningTeamCode" column="WINNING_TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="winningTeamAllocation" column="WINNING_TEAM_ALLOCATION" jdbcType="DOUBLE"/>
		<result property="videoName" column="VIDEO_NAME" jdbcType="VARCHAR"/>
		<result property="videoLink" column="VIDOE_LINK" jdbcType="VARCHAR"/>
		<result property="videoThumbNail" column="VIDEO_THUMBNAIL" jdbcType="VARCHAR"/>
		<association property="homeTeam" column="HOME_TEAM_CODE" javaType="team" select="getTeamInfo"/>
		<association property="awayTeam" column="AWAY_TEAM_CODE" javaType="team" select="getTeamInfo"/>
	</resultMap>
	
	<select id="getTeamInfoByTeamName" parameterType="string" resultMap="teamSelectMap">
		select 
		*, cast(stadium_lat AS char(20)) STADIUM_LAT_TOCHAR, cast(stadium_lng AS char(20)) STADIUM_LNG_TOCHAR
		from team
		<where>
			team_nickname=#{value}
		</where>
	</select>
	
	<select id="getTeamInfo" parameterType="string" resultMap="teamSelectMap">
		select 
		*, cast(stadium_lat AS char(20)) STADIUM_LAT_TOCHAR, cast(stadium_lng AS char(20)) STADIUM_LNG_TOCHAR
		from team
		<where>
			team_code=#{value}
		</where>
	</select>
	
	<select id="getAllTeam" resultMap="teamSelectMap">
		select *
		from team
	</select>
	
	<select id="getGameInfo" parameterType="string" resultMap="gameSelectMap">
		select * 
		from game 
		<where>
			game_code = #{value}
		</where>
	</select>
	
	<select id="getGameListByDate" parameterType="string" resultMap="gameSelectMap">
		select * 
		from game 
		<where>
			game_date = #{value}
		</where>
	</select>
	
	<select id="getGameListByMonthly" parameterType="string" resultMap="gameSelectMap">
		select *
		from game
		WHERE GAME_DATE LIKE '${date}%'
		<if test="teamCode != 'NN'">
			AND (HOME_TEAM_CODE = #{teamCode} OR AWAY_TEAM_CODE = #{teamCode})
		</if>
	</select>
	
	<select id="getGameListTwoWeeks" parameterType="string" resultMap="gameSelectMap">
      SELECT * FROM GAME
      WHERE game_date BETWEEN now() AND DATE_ADD(NOW(), INTERVAL 14 DAY)
      AND home_team_code = #{value}
   </select>
	
	<update id="updateGameState" parameterType="game">
		update game
		<set>
			GAME_STATUS_CODE = #{gameStatusCode}
			<if test="winningTeamCode != null">
				, winning_team_code = #{winningTeamCode}
				, game_score= #{gameScore}
			</if>
		</set>
		<where>
			GAME_CODE = #{gameCode}
		</where>
	</update>
	
	<insert id="addThisYearGameSchedule" parameterType="game">
		insert into game (GAME_CODE, HOME_TEAM_CODE, AWAY_TEAM_CODE,GAME_DATE,GAME_TIME,GAME_STATUS_CODE,GAME_SCORE)
		values(
			#{gameCode},
			#{homeTeam.teamCode},
			#{awayTeam.teamCode},
			STR_TO_DATE(#{gameDate},'%Y.%m.%d'),
			STR_TO_DATE(#{gameTime},'%H:%i:%s'),
			#{gameStatusCode},
			#{gameScore}
		)
	</insert>
	
	<update id="updateGamePredAllocation" parameterType="game">
		update game
		<set>
			WINNING_TEAM_ALLOCATION = #{winningTeamAllocation}
		</set>
		<where>
			GAME_CODE = #{gameCode}
		</where>
	</update>
	
	<update id="updateGameVideo" parameterType="game">
		update game
		<set>
			VIDEO_NAME = #{videoName},
			VIDOE_LINK = #{videoLink},
			VIDEO_THUMBNAIL = #{videoThumbNail}
		</set>
		<where>
			game_code = #{gameCode}
		</where>
	</update>
	
	
</mapper>