<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.baseball.service.player.PlayerDao">
	
	<resultMap id="playerSelectMap" type="player">
		<result property="playerId" column="PLAYER_ID" jdbcType="VARCHAR"/>
		<result property="playerPosition" column="PLAYER_POSITION" jdbcType="VARCHAR"/>
		<result property="playerName" column="PLAYER_NAME" jdbcType="VARCHAR"/>
		<result property="playerNumber" column="PLAYER_NUMBER" jdbcType="INTEGER"/>
		<result property="playerHeight" column="PLAYER_HEIGHT" jdbcType="INTEGER"/>
		<result property="playerWeight" column="PLAYER_WEIGHT" jdbcType="INTEGER"/>
		<result property="playerImage" column="PLAYER_IMAGE" jdbcType="VARCHAR"/>
		<result property="playerBirth" column="PLAYER_BIRTH" jdbcType="VARCHAR"/>
		<result property="playerSalary" column="PLAYER_SALARY" jdbcType="INTEGER"/>
		<result property="era" column="ERA" jdbcType="FLOAT"/>
		<result property="threeOut" column="THREEOUT" jdbcType="INTEGER"/>
		<result property="battingAvg" column="BAVF" jdbcType="FLOAT"/>
		<result property="hitter" column="H" jdbcType="INTEGER"/>
		<result property="homeRun" column="HR" jdbcType="INTEGER"/>
		<result property="stolenBase" column="SB" jdbcType="INTEGER"/>
		<result property="teamCode" column="TEAM_CODE" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="teamSelectMap" type="team">
		<result property="teamCode" column="TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="teamNickName" column="TEAM_NICKNAME" jdbcType="VARCHAR"/>
		<result property="teamEmblem" column="TEAM_EMBLEM" jdbcType="VARCHAR"/>
		<result property="stadiumName" column="STADIUM_NAME" jdbcType="VARCHAR"/>
		<result property="stadiumImageFile" column="STADIUM_IMAGE_FILE" jdbcType="VARCHAR"/>
		<result property="hometown" column="HOMETOWN" jdbcType="VARCHAR"/>
		<result property="stadiumLat" column="STADIUM_LAT_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumLng" column="STADIUM_LNG_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumAddress" column="STADIUM_ADDRESS" jdbcType="VARCHAR"/>
		<result property="teamFullName" column="TEAM_FULL_NAME" jdbcType="VARCHAR"/>
		<result property="teamHomepage" column="TEAM_HOMEPAGE" jdbcType="VARCHAR"/>
		<result property="teamIntroduce" column="TEAM_INTRODUCE" jdbcType="VARCHAR"/>
		<result property="teamTopBar" column="TEAM_TOPBAR" jdbcType="VARCHAR"/>
		<result property="teamColor" column="TEAM_COLOR" jdbcType="VARCHAR"/>
	</resultMap>
	<!-- 선수 테이블에 추가 -->
	<insert id="addPlayer" parameterType="player">

	  INSERT INTO player (
	    PLAYER_ID, PLAYER_POSITION, PLAYER_NAME, PLAYER_NUMBER, PLAYER_HEIGHT, PLAYER_WEIGHT,
	    PLAYER_IMAGE, PLAYER_BIRTH, PLAYER_SALARY, ERA, THREEOUT, BAVF, H, HR, SB, TEAM_CODE
	  )
	  VALUES (
	    #{playerId, jdbcType=VARCHAR}, #{playerPosition, jdbcType=VARCHAR}, #{playerName, jdbcType=VARCHAR},
	    #{playerNumber, jdbcType=INTEGER}, #{playerHeight, jdbcType=INTEGER}, #{playerWeight, jdbcType=INTEGER},
	    #{playerImage, jdbcType=VARCHAR}, #{playerBirth, jdbcType=VARCHAR}, #{playerSalary, jdbcType=INTEGER},
	    #{era, jdbcType=FLOAT}, #{threeOut, jdbcType=INTEGER}, #{battingAvg, jdbcType=FLOAT},
	    #{hitter, jdbcType=INTEGER}, #{homeRun, jdbcType=INTEGER}, #{stolenBase, jdbcType=INTEGER},
	    #{teamCode, jdbcType=VARCHAR}
	  )
	</insert>
	
	<!-- 새로 추가된 SQL (1)-->
	<!-- <update id="dropForeignKey">
		ALTER TABLE player DROP FOREIGN KEY fk_player_team
	</update> -->
	
	<!-- 새로 추가된 SQL (2) -->
	<!-- <update id="addForeignKey">
		ALTER TABLE player ADD CONSTRAINT fk_player_team FOREIGN KEY (team_code) REFERENCES team (team_code) ON DELETE CASCADE ON UPDATE CASCADE
	</update> -->
	
	<select id="getPlayer" parameterType="String" resultMap="playerSelectMap">
		SELECT * 
		FROM player
		WHERE player_id = #{playerId}
	</select>
	
	<!-- 선수 테이블의 모든 데이터를 삭제함. -->
	<delete id="deletePlayer">
		DELETE 
		FROM player
	</delete>
		
	<!-- 선수 테이블의 getPlayer... -->
	<select id="getPlayerList" parameterType="search" resultMap="playerSelectMap">
	  	<include refid="playerList"/>
	  	Limit #{startRowNum}, #{pageSize}
	</select>
	
	<sql id="playerList">
	SELECT *
	FROM player
		<where>
			<if test="searchKeyword !='' ">
 				player_name LIKE '%${searchKeyword}%'
			</if>
		</where>
		ORDER BY player_name
	</sql>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM (<include refid="playerList"/>) countTable
	</select>
	
	<select id="getAllTeam" resultMap="teamSelectMap">
		select *
		from team
	</select>
	
</mapper>