<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baseball.service.product.ProductDao">
	<resultMap id="productSelectMap" type="product">

		<result property="prodNo" column="prod_no" jdbcType="NUMERIC" />
		<result property="prodName" column="prod_name" jdbcType="VARCHAR" />
		<result property="prodPrice" column="prod_price" jdbcType="NUMERIC" />
		<result property="prodRegDate" column="prod_regdate" jdbcType="DATE" />
		<result property="prodStock" column="prod_stock" jdbcType="NUMERIC" />
		<result property="prodCategory" column="prod_category" jdbcType="NUMERIC" />
		<result property="prodTranCode" column="prod_tran_code" jdbcType="VARCHAR" />
		<result property="prodRefundCode" column="prod_refund_code" jdbcType="VARCHAR" />
		<result property="prodTeamCode" column="prod_team_code" jdbcType="VARCHAR" />
		<result property="prodImageFirst" column="prod_image_first" jdbcType="LONGVARCHAR" />
		<result property="prodImageSecond" column="prod_image_second" jdbcType="LONGVARCHAR" />
		<result property="prodImageThird" column="prod_image_third" jdbcType="LONGVARCHAR" />
	</resultMap>


<sql id="prodList">
	SELECT *
	FROM product
	<where>
		<if test="search.searchKeyword != null and search.searchKeyword != ''">
				prod_name LIKE '%${search.searchKeyword}%'
		</if>
		<if test="prodTeamCode != 'ALL'">
				AND prod_team_code = #{prodTeamCode}
		</if>
		
		<if test="search.category !=  null and search.category != '' and search.category != 0">
			AND prod_category = #{search.category}
		</if>
		<if test="search.standard == '3'">
			AND prod_stock = 0
		</if>
		<if test="search.standard == '2'">
			AND prod_stock > 0
		</if>
	</where>
	ORDER BY prod_no
</sql>


	<!-- INSERT SQL -->
	<insert id="addProduct" parameterType="product">

		INSERT INTO product
		(prod_no, prod_name, prod_price, prod_stock, prod_category, prod_team_code, prod_regdate, prod_image_first, prod_image_second, prod_image_third)
		VALUES (null, #{prodName}, #{prodPrice}, #{prodStock}, #{prodCategory},#{prodTeamCode}, SYSDATE(), #{prodImageFirst}, #{prodImageSecond}, #{prodImageThird})

	</insert>

	<!-- SELECT SQL -->
	<select id="getProduct" parameterType="int" resultMap="productSelectMap">

		SELECT
		*
		FROM product
		WHERE prod_no = #{value}

	</select>


	<!-- UPDATE SQL -->
<update id="updateProduct" parameterType="product">

	  UPDATE product
		  <set>
		    prod_name = #{prodName},
		    prod_price = #{prodPrice},
		    prod_category = #{prodCategory},
		    prod_stock = #{prodStock},
		    prod_team_code = #{prodTeamCode},
			prod_image_first = #{prodImageFirst},
			prod_image_second = #{prodImageSecond},
			prod_image_third = #{prodImageThird}
		  </set>
		  WHERE prod_no = #{prodNo}
		  
</update>


	<!-- DELETE SQL -->
	<delete id="deleteProduct" parameterType="int">

		DELETE FROM product
		WHERE prod_no = #{value};

	</delete>


	<select id="getProductList" parameterType="java.util.Map" resultMap="productSelectMap">


		<include refid="prodList" />
		Limit #{search.startRowNum}, #{search.pageSize}

		<!-- SELECT * FROM ( SELECT inner_table.*, ROWNUM AS row_seq FROM ( <include 
			refid="prodList"/> ) inner_table WHERE ROWNUM &lt;= #{endRowNum} ) WHERE 
			row_seq BETWEEN #{startRowNum} AND #{endRowNum} -->

	</select>
	
	<select id="getSalesProdList" parameterType="java.util.Map" resultMap="productSelectMap">
	
		<include refid="prodList" />
		Limit #{search.startRowNum}, #{search.pageSize}
	
	</select>
	
	
	<select id="getTotalCount" parameterType="java.util.Map" resultType="int">

		SELECT COUNT(*)
		FROM (
		<include refid="prodList" />
		) countTable

	</select>

	 <select  id="autoComplete"	resultType="string">
	
		SELECT prod_name	
	 	 FROM product
	 
	 </select>	

</mapper>