<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.baseball.service.ticket.TicketDao">
	<resultMap id="ticketSelectMap" type="ticket">
		<result property="ticketNo" 			column="ticket_no" 			jdbcType="VARCHAR"/>
		<result property="game.gameCode" 		column="game_code" 			jdbcType="VARCHAR"/>
		<result property="transaction.tranNo" 	column="tran_no" 			jdbcType="INTEGER"/>
		<result property="ticketStatus" 		column="ticket_status"	 	jdbcType="INTEGER"/>
		<result property="seatCode" 			column="seat_code" 			jdbcType="VARCHAR"/>
		<result property="seatPrice" 			column="seat_price" 		jdbcType="INTEGER"/>
		<association property="game" column="game_code" javaType="game" select="getGameInfo"/>
	</resultMap>
	
	<resultMap id="gameSelectMap" type="game">
		<result property="gameCode" column="GAME_CODE" jdbcType="VARCHAR"/>
		<result property="gameDate" column="GAME_DATE" jdbcType="DATE"/>
		<result property="gameTime" column="GAME_TIME" jdbcType="TIME"/>
		<result property="gameStatusCode" column="GAME_STATUS_CODE" jdbcType="CHAR"/>
		<result property="gameScore" column="GAME_SCORE" jdbcType="VARCHAR"/>
		<result property="winningTeamCode" column="WINNING_TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="winningTeamAllocation" column="WINNING_TEAM_ALLOCATION" jdbcType="DOUBLE"/>
		<result property="videoName" column="VIDEO_NAME" jdbcType="VARCHAR"/>
		<result property="videoLink" column="VIDOE_LINK" jdbcType="VARCHAR"/>
		<result property="videoThumbNail" column="VIDEO_THUMBNAIL" jdbcType="VARCHAR"/>
		<association property="homeTeam" column="HOME_TEAM_CODE" javaType="team" select="getTeamInfo"/>
		<association property="awayTeam" column="AWAY_TEAM_CODE" javaType="team" select="getTeamInfo"/>
	</resultMap>
	
	<resultMap id="teamSelectMap" type="team">
		<result property="teamCode" column="TEAM_CODE" jdbcType="VARCHAR"/>
		<result property="teamNickName" column="TEAM_NICKNAME" jdbcType="VARCHAR"/>
		<result property="teamEmblem" column="TEAM_EMBLEM" jdbcType="VARCHAR"/>
		<result property="stadiumName" column="STADIUM_NAME" jdbcType="VARCHAR"/>
		<result property="stadiumImageFile" column="STADIUM_IMAGE_FILE" jdbcType="VARCHAR"/>
		<result property="hometown" column="HOMETOWN" jdbcType="VARCHAR"/>
		<result property="stadiumLat" column="STADIUM_LAT_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumLng" column="STADIUM_LNG_TOCHAR" jdbcType="DOUBLE"/>
		<result property="stadiumAddress" column="STADIUM_ADDRESS" jdbcType="VARCHAR"/>
		<result property="teamFullName" column="TEAM_FULL_NAME" jdbcType="VARCHAR"/>
		<result property="teamHomepage" column="TEAM_HOMEPAGE" jdbcType="VARCHAR"/>
		<result property="teamIntroduce" column="TEAM_INTRODUCE" jdbcType="VARCHAR"/>
		<result property="teamTopBar" column="TEAM_TOPBAR" jdbcType="VARCHAR"/>
		<result property="teamColor" column="TEAM_COLOR" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- ticket 1개의 정보 get -->
	<select id="getTicketInfo" parameterType="string" resultMap="ticketSelectMap">
		SELECT * FROM ticket
		where ticket_no = #{value}
	</select>
	
	<!--해당경기의 모든 티켓정보 출력(좌석선택위함) -->
	<select id="getTickets" parameterType="string" resultMap="ticketSelectMap">
		SELECT * FROM ticket
		WHERE game_code = #{value}
	</select>
	
	<!--티켓결제등록(addtransaction 후, tranNo가져와서 ticket정보에 업데이트)-->
	<update id="addTicketPurchase" parameterType="map">
		UPDATE ticket 
		SET	tran_no = #{tranNo}, ticket_status=1
		WHERE ticket_no IN 
		<foreach collection="list" item="ticketNo" separator="," open="(" close=")">
			#{ticketNo}
		</foreach>
	</update>
	
	<!--결제번호를 기반으로 해당 tranNo의 게임정보 가져오기 위함(결제내역리스트출력에 경기정보 출력)-->
	<select id="getGameCode" parameterType="int" resultType="string">
		SELECT DISTINCT game_code
		FROM ticket WHERE tran_no = #{value}
	</select>
	
	<!--특정 결제내역에 해당하는 티켓정보 출력 -->
	<select id="getTicketPurchaseList" parameterType="int" resultMap="ticketSelectMap">
		SELECT * FROM ticket
		WHERE tran_no = #{value}
	</select>
	
	<!-- 티켓판매유무상태 변경 -->
	<update id="updateTicketStatus" parameterType="ticket">
		UPDATE ticket
		<set>
			ticket_status = #{ticketStatus}
		</set>
		WHERE ticket_no = #{ticketNo}
	</update>
	
	<!-- transaction환불유무상태 변경 -->
	<update id="updateRefundStatus" parameterType="int">
		UPDATE transaction
		<set>
			refund_status = 1, tran_date = SYSDATE()
		</set>
		WHERE tran_no = #{value}
	</update>
	
	<!-- 해당 월의 Game 정보 list 출력 -->
	<select id="getGameListByMonth" parameterType="int" resultMap="gameSelectMap">
		SELECT * FROM game
		WHERE month(game_date)=#{value} AND year(game_date)=2023
		ORDER BY home_team_code
	</select>
	
	<!-- 해당 경기의 판매완료된 티켓 수 출력 -->
	<select id="getSalesTicket" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM ticket
		WHERE game_code = #{gameCode} AND ticket_status = 1
	</select>
	
	<!--환불 시 user가 사용한 point 다시 복구해주는 쿼리-->
	<update id="updateRefundPoint" parameterType="user">
		update user
		<set>
			user_point=user_point+#{userPoint}
		</set>
		WHERE user_id=#{userId}
	</update>
	
	<!-- Ticket에 game 정보 세팅 위함 시작-->
	<select id="getTeamInfo" parameterType="string" resultMap="teamSelectMap">
		select 
		*, cast(stadium_lat AS char(20)) STADIUM_LAT_TOCHAR, cast(stadium_lng AS char(20)) STADIUM_LNG_TOCHAR
		from team
		<where>
			team_code=#{value}
		</where>
	</select>
	<select id="getGameInfo" parameterType="string" resultMap="gameSelectMap">
		select * 
		from game 
		<where>
			game_code = #{value}
		</where>
	</select>
	<!-- Ticket에 game 정보 세팅 위함 끝-->
</mapper>