<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.baseball.service.user.UserDao">

	<resultMap id="userSelectMap" type="user">
		<result property="userId" 	column="user_id"	jdbcType="VARCHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="userNickName" column="user_nickname" jdbcType="VARCHAR"/>
		<result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
		<result property="userAddr" column="user_addr" jdbcType="VARCHAR"/>
		<result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
		<result property="userBirth" column="user_birth" jdbcType="VARCHAR"/>
		<result property="userImage" column="user_image" jdbcType="VARCHAR"/>
		<result property="userPoint" column="user_point" jdbcType="INTEGER"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="gender" column="gender" jdbcType="CHAR"/>
		<result property="role" column="role" jdbcType="VARCHAR"/>
		<result property="withDraw" column="withdraw" jdbcType="INTEGER"/>
		<result property="teamCode" column="team_code" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="addUser" parameterType="user">
		INSERT INTO user
		(user_id, user_name, user_nickname, user_email, user_addr, user_phone, user_birth, user_image, 
		 user_point, password, gender, role, withdraw, team_code)
		VALUES 
		(#{userId}, #{userName}, #{userNickName}, #{userEmail}, #{userAddr}, #{userPhone}, #{userBirth}, #{userImage}, #{userPoint},
		#{password}, #{gender}, #{role}, #{withDraw}, #{teamCode} )
	</insert>
	
	<select id="getUser" parameterType="String" resultMap="userSelectMap">
		SELECT *
		FROM user
		WHERE user_id = #{value}
	</select>
	
	<update id="updateUser" parameterType="user">
		UPDATE user
		SET user_name = #{userName}, user_nickname = #{userNickName}, user_email = #{userEmail}, user_phone = #{userPhone}, user_birth = #{userBirth}, user_image = #{userImage},
			password = #{password}, gender = #{gender}, team_code = #{teamCode}		
		WHERE user_id = #{userId}
	</update>
	
	<update id="withDraw" parameterType="user">
		UPDATE user
		SET withdraw = 1
		WHERE user_id = #{userId}
	</update>
	
	<update id="updatePoint" parameterType="user" >
		UPDATE user
		SET user_Point = #{userPoint}
		WHERE user_id = #{userId}
	</update>
	
	<select id="getUserList" parameterType="Search" resultMap="userSelectMap">
	  
	  	<include refid="userList"/>
	  	Limit #{startRowNum}, #{pageSize}
	  	
	</select>
	
	<sql id="userList">
	SELECT *
	FROM user
	ORDER BY user_name
	<where>
		<if test="searchCondition != null">
		  <if test="searchCondition == 0 and searchKeyword != ''">
		  	AND user_name LIKE CONCAT('%', #{searchKeyword}, '%')
		  </if>
		</if>
	</where>
	</sql>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM (<include refid="userList"/>) countTable
	</select>
	
	<!-- <select id="getUserAutoComplete" parameterType="search" resultMap="userSelectMap">
	</select> -->
	
	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<select id="userNickNameCheck" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE user_nickname = #{userNickName}
	</select>
	
	
</mapper>